* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the list inside the menu */
a{
  text-decoration: none;
  color: white;
}
p {
  color: navy;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
header {
  background-color:#ffffffe4;
  padding: 15px;
  
}

.add{
  background-color: #017587e4;
  color: white;
  border: none;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.navBar{
  font-size: 15px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  font-weight: 500;
}
.navBar .first{
  display: flex;
  justify-content: left;
  gap: 10px;
}
.navBar a{
border-radius: 5px;
padding: 6px 13px;
background-color: rgb(23, 74, 140);
}
.navBar a:hover{

  color: white;
  transition: 0.3s;
  opacity: .8;
}

.second{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}
.second a{
  background-color:#a8a8a8;
  border-bottom: 2px solid #0526ca;
}
.third{
  vertical-align: middle;
}
article {
  padding: 10px;
  width: 100%;
  margin: 20px 0;
   background-color:#ffffffe4;
}

section {

  padding: 20px;
  background-color:#c3efefe4;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
}
/* Style the footer */
.footer-sec{
 background-color: rgb(23, 74, 140);
  padding: 10px;
  text-align: center;
  color: white;
}

.foot-para{
  text-align: center;
  font-size: 13px;
  color: rgb(241, 154, 3);
}

.box{
  width: 300px;
  font-size: 25px;
  box-shadow: 1px 2px 1px gray;
  /* padding: 15px; */
  margin: 8px;
  text-align: center;
  display: inline-block;
  background: #9ee7fd;
  border-radius: 5px;
}
.box h3{
  font-size: 15px;
}

.box .delete{
  background-color:transparent;
  color: rgb(240, 4, 4);
  border: none;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-weight: 900;
}
.box .more{
  background-color:transparent;
  color: rgb(2, 110, 240);
  border: none;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-weight: 900;
}

.enterCity{
  font-size: 17px;
  border: none;
  padding: 5px;
  box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.264);
  border-radius: 3px;
}
.enterCity::placeholder{
   color: black;
}
.cl-internal-1cqt5d5:focus{
  box-shadow: none;
}

.contact-page{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10px;
  padding: 20px;
  background-color: #f0f8ff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 40px auto;
}
.contact-form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f8ff;
  padding: 10px;
}

.contact-form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;

}

.form-input{
  padding: 3px;
  border:none;
  border-radius: 5px;
  color: #017587e4;
  width: 90%;
  border: 1px solid gray;
  font-size: 16px;
}
input[type="text"]:focus,
input[type="email"]:focus{
  outline: 1px solid #017587e4;
}
textarea:focus{
  outline: 1px solid #017587e4;
}
textarea{
  font-size: 16px;
}
input[type="submit"]{
   outline: 1px solid #017587e4;
   cursor: pointer;
}
input[type="submit"]:hover{
  background-color: #017587e4;
  color: white;
  transition: 0.3s;
  opacity: .8;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 576px) {
  nav, article {
    width: 100%;
    height: auto;
  }
  .welcome-message{
    display: none;
  }
  header{
    padding: 0;
    margin-bottom: 15px;
  }
  .navBar{
    font-size: 11px;
    font-weight: 600;
  }
  .navBar a{
    padding: 6px 4px;
  }
  .navBar .first a{
    background-color: transparent;
    color: black;
    margin-right: 10px;
    border-bottom: 1px solid gray;
    border-radius: 3px;
  }
  .navBar .first{
    gap: 0px;
  }
  p{
    font-size: 15px;
  }
  ol li, ul{
    font-size: 15px;
  }
  .contact-page{
    grid-template-columns: 1fr;
    padding: 10px;
    margin: 20px auto;
    text-align: left;
  }
 
section{
 padding: 5px ;
}
.contact-form-container{
  padding: 0px;
}
} 